.navbar{
    border-bottom: 1px solid #979797;
    display: flex;
    padding: 1.7rem 1.5rem;
    justify-content: space-between;
}

.navbar ul{
    display:flex;
    list-style-type: none;
    gap: 1.6rem;
}

.navbar ul a{
    text-decoration: none;
}

.navbar .cta-btn{
    display: flex;
    gap: 1rem;
}

@media (max-width: 768px){
    .navbar ul{
        display: none;
    }
}